p{
    font-family: arial;
}
list{
    font-family:arial
}
body{
    background-color: #88807e;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: lighter; background-color: #dedddb;
}
a{
    font-family: Arial, Helvetica, sans-serif; font-size: larger; color: black;
}